{% load bootstrap3 %}

{# Load CSS and JavaScript #}

{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}


<head>
  <link rel="stylesheet" type="text/css" href="{% static 'porch/main.css' %}" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:500" rel="stylesheet" type="text/css">
  <title>Clarifaiku</title>

</head>

<body>
  <div class="container-fluid">
    <div class="row">
        <h1>clarifaiku</h1>
        <p class="blocktext">
          An Artificially Intelligent Haiku Generator
        </p>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <hr />
        <img class="displayed" src={{pic}} class="img-responsive" alt="Cinque Terre" />
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form method="post" class=" form-group">
          {% csrf_token %}
          {% bootstrap_form form layout='inline'%}
          {% buttons submit='Go!' button_class="btn-primary" layout='inline' %}{% endbuttons %}

        </form>



      </div>

    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <hr />
        <p class="blocktext">
          {{line1}}
          <br />
          {{line2}}
          <br />
          {{line3}}
        </p>

      </div>
    </div>

  </div>

</body>
